<form class="_form _wi_" novalidate [formGroup]="form" (ngSubmit)='register()'>
  <p class="_form_p" >Sign Up</p>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Middle name" formControlName="name">
    <div class="validation-err-msg" *ngIf="form.get('name').touched">
      <span *ngIf="form.get('name').hasError('required')">
        Name is required.
      </span>
    </div>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" formControlName="email">
    <div class="validation-err-msg" *ngIf="form.get('email').touched">

      <span *ngIf="form.get('email').hasError('required')">
        Email Address is required.
      </span>

      <span *ngIf="!form.get('email').hasError('required')
      && form.get('email').hasError('emailFormat')">
        The entered email address is invalid.
      </span>
    </div>
  </mat-form-field>


  <mat-form-field class="example-full-width has-succses">
    <input matInput placeholder="Password" type="password" formControlName="password">
    <div class="has-error" *ngIf="form.get('password').invalid
    && form.get('password').touched">

    <div class="validation-err-msg">
      <span *ngIf="form.get('password').hasError('uppercaseLetters')
        && form.get('password').hasError('numbers')">
        Password must contain at least one uppercase letter and one number.
      </span>

      <span *ngIf="form.get('password').hasError('uppercaseLetters')
        && !form.get('password').hasError('numbers')">
        Password must contain at least one uppercase letter.
      </span>

      <span *ngIf="!form.get('password').hasError('uppercaseLetters')
        && form.get('password').hasError('numbers')">
        Password must contain at least one number.
      </span>

      <span *ngIf="form.get('password').hasError('minlength')">
        Password must be of minimum 6 characters length.
      </span>
    </div>
  </div>
  </mat-form-field>
  

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password"
     type="password" formControlName="retry_password">

      <div class="has_error" *ngIf="form.get('retry_password').invalid
      && form.get('retry_password').touched">

      <div class="validation-err-msg">
        <span *ngIf="form.get('retry_password').hasError('uppercaseLetters')
          && form.get('retry_password').hasError('numbers')">
          Password must contain at least one uppercase letter and one number.
        </span>

        <span *ngIf="form.get('retry_password').hasError('uppercaseLetters')
          && !form.get('retry_password').hasError('numbers')">
          Password must contain at least one uppercase letter.
        </span>

        <span *ngIf="!form.get('retry_password').hasError('uppercaseLetters')
          && form.get('retry_password').hasError('numbers')">
          Password must contain at least one number.
        </span>

        <span *ngIf="form.get('retry_password').hasError('minlength')">
          Password must be of minimum 6 characters length.
        </span>
      </div>
    </div>
  </mat-form-field>
  

  <section class="example-section">
    <mat-checkbox class="example-margin " color="primary"
    formControlName="checkbox_agree"
    >Checked</mat-checkbox>
  </section>
  <div class="has-error" *ngIf="form.get('checkbox_agree').invalid
        && form.get('checkbox_agree').touched">
    <span class="has_error_box ">
      Please agree to Terms and Conditions.
    </span>
  </div>
  <div class="button-row " color="primary">
    <button mat-raised-button color="primary" >Basic</button>
  </div>
</form>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    
    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>