<div class="_hr"  >

  <mat-sidenav-container #sidenav class="_hr_sn">
    <mat-sidenav mode="over" #sidenav class="_hr_sn_c">
      <app-asede>
        <app-asede-items></app-asede-items>
      </app-asede>
    </mat-sidenav>

    <mat-toolbar color="primary" class="_hr_sn_tb">
      <div class="_hr_sn_tb_d">
        <button class="_hr_sn_tb_d_ib" (click)="sidenav.open()">
          <mat-icon class="_hr_sn_tb_d_ib_i">menu</mat-icon>
        </button>
      </div>

      <div class="_hr_sn_tb_e">
        <a routerLink="/login/in" routerLinkActive="active">
          <button mat-button>
            Log In
          </button>
        </a>
        <a routerLink="/login/up" routerLinkActive="active" >
          <button mat-button>
            Sign Up
          </button>
        </a>
      </div>
    </mat-toolbar>
    <div class="inner-sidenav-content">
      <div style="padding-top:2em;padding-bottom:2em;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-container>

</div>