<div class="_top">
  <button mat-button  routerLinkActive="active" >
    <a routerLink="/login"  >
      <i class="icon-Dashboard"></i>
      Your life
    </a>
  </button>
  <button mat-button routerLinkActive="active">
    <a routerLink="/success" >
      <i class="icon-Dashboard"></i>
      Dashboard
    </a>
  </button>
  <button mat-button>
    <a routerLink="/user/contribution" routerLinkActive="primary">

      <i class="icon-Contribution"></i>
      Contribution
    </a>
  </button>
  <button mat-button>
    <a routerLink="/user/verification" routerLinkActive="primary">
      <i class="icon-Investors"></i>
      Verification
    </a>
  </button>
  <button mat-button>
    <a routerLink="/user/history" routerLinkActive="primary">
      <i class="icon-Transactions"></i>
      History
    </a>
  </button>
  <button mat-button>
    <a routerLink="/user/referral-system" routerLinkActive="primary">
      <i class="icon-system"></i>
      Referral System
    </a>
  </button>
  <button mat-button>
    <a routerLink="/user/faq" routerLinkActive="primary">
      <i class="icon-FQA"></i>
      FAQ
    </a>
  </button>
</div>