<div class="_top">
  <button mat-button  [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="active">
    <a routerLink="/">
      <mat-icon>whatshot</mat-icon>
      Your life
    </a>
  </button>
  <button mat-button routerLinkActive="active">
    <a routerLink="user/dashboard">
      <mat-icon>assessment</mat-icon>
      Dashboard
    </a>
  </button>
  <button mat-button routerLinkActive="active" >
    <a routerLink="/user/contribution" >
      <mat-icon>android </mat-icon>
      Contribution
    </a>
  </button>
  <button mat-button routerLinkActive="active" >
    <a routerLink="/user/verification" >
      <mat-icon>person </mat-icon>
      Verification
    </a>
  </button>
  <button mat-button routerLinkActive="active" >
    <a routerLink="/user/history" >
      <mat-icon>dialpad</mat-icon>
      History
    </a>
  </button>
  <button mat-button routerLinkActive="active" >
    <a routerLink="/user/referral-system" >
      <mat-icon>redeem </mat-icon>
      Referral System
    </a>
  </button>
  <button mat-button routerLinkActive="active" >
    <a routerLink="/user/faq" >
      <mat-icon>build </mat-icon>
      FAQ
    </a>
  </button>

  <button mat-button [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
    <a routerLink="/login/in">
      <mat-icon>refresh </mat-icon>
      Log out
    </a>
  </button>
</div>