@import '../../../../../assets/variables' ;

.cont{
    width: 100%;
    display: flex;
    justify-content: center;
    &_block{
        position: absolute;
        background-color: rgba($tw, 0.7);
        border-radius: $br;
        border: $b;
        box-shadow: $bs;
        z-index: 1;
    }
}
