
// Breakpoints
$phone: "(min-width: 375px)";
$phone-lg: "(min-width: 480px)";
$tablet: "(min-width: 768px)";
$desktop-sm: "(min-width: 992px)";
$desktop-md: "(min-width: 1200px)";

// text color
$tw: white;
$tg: #607D8B;

// text size
$xxxl: 20px;
$xxl: 18px;
$xl: 17px;
$l: 16px;
$m: 15px;
$s: 14px;
$xs: 12px;
$xxs: 11px;
$xxxs: 10px;

// icon width
$ifm: 30px;
// icon color
$icw: white;

// box color
$bs: 0px 0px 7px 0px rgba(#BDBDBD, 0.7);

// border
$b: 0.8px solid rgba(#BDBDBD, 0.7);
$br : 5px;

// paddingv-risaze
$pl: 10px;
$pt: 20px;
$pm: 30px;

// div color
$dp: #673AB7;
$dg: #607D8B;